html {
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

form {
  width: min-content;
}

form,
.images {
  margin: 1rem;
}

label {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin-block-end: 0.5rem;
}

select {
  margin-left: 3rem;
}

.images {
  border: 1px solid black;
  position: relative;
  height: 75vh;
  width: min-content;
}

.image {
  object-fit: contain;
  height: 75vh;
  top: 0;
  left: 0;
}

#design {
  position: absolute;
  height: auto;
  left: 32%;
  top: 26%;
  width: 36%;
}
