html {
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

form {
  width: min-content;
}

form,
.images {
  margin: 1rem;
}

label {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin-block-end: 0.5rem;
}

select {
  margin-left: 3rem;
}

.images {
  border: 1px solid black;
  position: relative;
  height: 75vh;
  width: min-content;
}

.image {
  object-fit: contain;
  height: 75vh;
  top: 0;
  left: 0;
}

#design {
  position: absolute;
  height: auto;
}

#design[data-position="center"] {
  top: 26%;
}

#design[data-position="center"][data-design="seagull.png"] {
  left: 32%;
  width: 36%;
}

#design[data-position="center"][data-design="turnstile.png"] {
  left: 27%;
  width: 46%;
}

#design[data-position="top-right"],
#design[data-position="top-left"] {
  top: 33%;
  width: 15%;
}

#design[data-position="top-right"] {
  left: 30%;
}

#design[data-position="top-left"] {
  left: 55%;
}

.womens-shirt > #design[data-position="center"][data-design="seagull.png"] {
  left: 35%;
  width: 30%;
}

.womens-shirt > #design[data-position="center"][data-design="turnstile.png"] {
  left: 32%;
  width: 36%;
}

.womens-shirt > #design[data-position="top-right"],
.womens-shirt > #design[data-position="top-left"] {
  width: 12%;
}

.womens-shirt > #design[data-position="top-right"] {
  left: 33%;
}

.womens-shirt > #design[data-position="top-left"] {
  left: 52%;
}